{% extends "base.html" %}
{% import "bootstrap/wtf.html" as wtf %}

{% block title %}Логин{% endblock %}

{% block page_content %}
    <div class="page-header">
        <h1>Логин</h1>
    </div>
    <div class="col-md-4">
        {{ wtf.quick_form(form) }}
        <br>
        <p><a href="{{ url_for('auth.password_reset_request') }}">Забыл пароль</a>.</p>
        <p><a href="{{ url_for('auth.register') }}">Регистрация</a>.</p>
    </div>
{% endblock %}