{% extends "base.html" %}

{% block title %}Подтвердите свой аккаунт{% endblock %}

{% block page_content %}
    <div class="page-header">
        <h1>
            Здравствуйте, {{ current_user.username }}!
        </h1>
        <h3>Вы еще не подтвердили свою учетную запись.</h3>
        <p>
            Чтобы продолжить использовать Trucking, вам потребуется потвердить свой электронный адрес.
            Мы отправим Вам письмо с подтверждением. Для завершения регистрации, пройдите пожалуйста по ссылки в этом письме
        </p>
        <p>
            <a href="{{ url_for('auth.resend_confirmation') }}">Не получил письмо с подтверждением</a>
        </p>
    </div>
{% endblock %}