{% extends "bootstrap/base.html" %}

{% block title %}{% endblock %}Trucking

{% block head %}
    {{ super() }}
    <link rel="shortcut icon" href="{{ url_for('static', filename='icon.ico') }}" type="image/x-icon">
    <link rel="icon" href="{{ url_for('static', filename='icon.ico') }}" type="image/x-icon">
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/style.css') }}">
{% endblock %}

{% block navbar %}
    <div class="navbar navbar-inverse" role="navigation">
        <div class="container">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <a class="navbar-brand" href="{{ url_for('main.index') }}">Trucking</a>
            </div>
            <div class="navbar-collapse collapse">
                <ul class="nav navbar-nav navbar-right">
                    {% if current_user.is_authenticated and current_user.usertype.id==2 %}
                        <li><a  href={{ url_for('main.index') }}><span class="glyphicon glyphicon-ruble"></span> Баланс: {{ current_user.price }} руб.</a></li>
                    {% endif %}
                    {% if current_user.is_authenticated and current_user.usertype.id==1 %}
                    <li><a href="{{ url_for('main.create_task') }}"><span class="glyphicon glyphicon-plus"></span> Создать задание</a></li>
                    {% endif %}
                    {% if current_user.is_authenticated %}
                    <li><a href="{{ url_for('main.mytasks') }}"><span class="glyphicon glyphicon-list-alt"></span> Мои задачи</a></li>
                    {% endif %}

                    {% if current_user.is_authenticated %}
                        <li class="dropdown">
                            <a href="#" class="dropdown-toggle" data-toggle="dropdown">
                                <img src="{{ url_for('static', filename='images/profil.png')}}">{{current_user.email}}<b class="caret"></b>
                            </a>
                            <ul class="dropdown-menu">
                                <li><a href="{{ url_for('main.user', username=current_user.username) }}">Профиль</a></li>
                                <li><a href="{{ url_for('auth.change_password') }}">Изменить пароль</a></li>
                                <li><a href="{{ url_for('auth.change_email_request') }}">Изменить E-mail</a></li>
                                <li><a href="{{ url_for('auth.logout') }}">Выход</a></li>
                            </ul>
                        </li>
                    {% else %}
                        <li><a href="{{ url_for('auth.login') }}">Вход</a></li>
                    {% endif %}
                </ul>
            </div>
        </div>
    </div>
{% endblock %}

{% block content %}
    <div class="container">
        {% for message in get_flashed_messages() %}
            <div class="alert alert-warning">
                <button type="button" class="close" data-dismiss="alert">&times;</button>
                {{ message }}
            </div>
        {% endfor %}

        {% block page_content %}{% endblock %}
    </div>
{% endblock %}

{% block scripts %}
    {{ super() }}
    {{ moment.include_moment() }}
    {{ moment.lang('ru') }}
{% endblock %}