{% extends "base.html" %}
{% import "bootstrap/wtf.html" as wtf %}
{% import "_macros.html" as macros %}

{% block title %}Главная страница{% endblock %}

{% block page_content %}
    <div class="page-header">
        <h1>{% if current_user.is_authenticated %}{{ current_user.username }}{% endif %}</h1>

    </div>
    <div>
    {% include 'tasks.html' %}
    {% if pagination %}
        <div class="pagination">
            {{ macros.pagination_widget(pagination, '.index') }}
        </div>
    {% endif %}
{% endblock %}

{% block scripts %}
{{ super() }}
{{ pagedown.include_pagedown() }}
{% endblock %}