<ul class="offers">
    <h4 id="offers">Предложения</h4>
    {% for offer in offers %}
        <li class="offer">
            <div class="offer-thumbnail">
                <a href="{{ url_for('.user', username=offer.author.username) }}">
                    <img class="img-rounded profile-thumbnail"
                         src="{{ url_for('static', filename='images/profil.png') }}">
                </a>
            </div>
            <div class="offer-content">
                <div class="offer-date">{{ moment(offer.timestamp).fromNow() }}</div>
                <div class="offer-author"><a
                        href="{{ url_for('.user', username=offer.author.username) }}">{{ offer.author.username }}</a>
                </div>
                <div class="offer-body">
                    {{ offer.body }}

                </div>
                <div class="post-footer">
                    <a href="{{ url_for('.exectude', user_id=offer.author.id, ad_id=ad.id) }}"><span
                            class="label label-primary">Выбрать</span></a>
                </div>
        </li>
    {% endfor %}
</ul>