{% extends "base.html" %}
{% import "bootstrap/wtf.html" as wtf %}
{% import "_macros.html" as macros %}

{% block title %}Объявление{% endblock %}

{% block page_content %}
<div class="post-content">
    <h1>{{ ad.from_address }}-{{ ad.to_address }}</h1>
    <p><b>{{ ad.price }}</b></p>
    <p><b>Дата и время приема груза: </b> {{ ad.time_departure }}</p>
    <p><b>Доставить до: </b> {{ ad.delivery_time }}</p>

    <p><b>Описание: </b>{{ ad.description }}</p>
    <p><b>Автор: </b><a href="{{ url_for('.user', username=ad.author.username) }}">{{ ad.author.username }}</a></p>
    <div class="post-footer">
        {% if current_user == ad.author %}
        <a href="{{ url_for('.edit', id=ad.id) }}">
            <span class="label label-primary">Редактировать</span>
        </a>
        {% elif current_user.is_administrator() %}
        <a href="{{ url_for('.edit', id=ad.id) }}">
            <span class="label label-danger">Редактировать [Admin]</span>
        </a>
        {% endif %}
        {%if current_user.is_authenticated and current_user.usertype.id==2%}
{#        <a href="{{ url_for('.task', id=ad.id) }}">#}
{#            <span class="label label-default">Предложить услугу</span>#}
{#        </a>#}
        {%endif%}
    </div>
    {% if current_user.can(Permission.COMMENT) and current_user.id!=ad.author.id and current_user.usertype.id==2 %}
    <br>
    <br>
    <div class="offer-form">
        {{ wtf.quick_form(form) }}
    </div>
    {% endif %}
    {% if current_user == ad.author%}
    {% include 'offers.html' %}
    {% endif %}
{% endblock %}