<ul class="posts">
    {% for post in ads %}

        <li class="post">
            <div class="post-thumbnail">
                <a href="{{ url_for('.user', username=post.author.username) }}">
                    <img class="img-rounded profile-thumbnail" height="140" width="140" src="{{ url_for('static', filename='upload/'+post.author.avatar)}}">
                </a>
            </div>
            <div class="post-content">
                <div class="post-date">{{ moment(post.timestamp).fromNow() }}</div>
                <h4><div class="post-road"><a href="{{ url_for('.task', id=post.id) }}"><b>{{ post.from_address}}-{{post.to_address }}</b></a></div></h4>
                <div class="post-price"><b>Цена: </b>{{ post.price }} руб.</div>
                <div class="time_departure"><b>Дата и время приема груза: </b> {{ post.time_departure}}</div>
                <div class="delivery_time"><b>Доставить до: </b> {{post.delivery_time}}</div>

                <div class="post-body">
                    {% if post.description %}
                        {{ post.description | safe }}
                    {% else %}
                        {{ post.description }}
                    {% endif %}
                </div>
                <div class="post-author"><a href="{{ url_for('.user', username=post.author.username) }}">{{ post.author.username }}</a></div>
                <div class="post-footer">
                    {% if current_user == post.author %}
                        <a href="{{ url_for('.edit', id=post.id) }}">
                            <span class="label label-primary">Редактировать</span>
                        </a>
                    {% endif %}
                    {%if current_user.is_authenticated and current_user.usertype.id==2%}
                        <a href="{{ url_for('.task', id=post.id) }}">
                            <span class="label label-default">Предложить услугу</span>
                        </a>
                    {%endif%}

                    </a>
                </div>
            </div>
        </li>
    {% endfor %}
</ul>