{% extends "base.html" %}

{% block title %}{{ user.username }}{% endblock %}

{% block page_content %}
    <div class="page-header">
        <img class="img-rounded profile-thumbnail" width="250" height="250" src="{{ url_for('static', filename='upload/'+user.avatar) }}">
        <div class="profile-header">
            <h1>{{ user.username }}</h1>
            {% if user.name or user.location %}
                <p>
                    {% if user.name %}{{ user.name }}<br>{% endif %}
                    {% if user.location %}
                        <a href="http://maps.google.com/?q={{ user.location }}">{{ user.location }}</a><br>
                    {% endif %}
                </p>
            {% endif %}
            {% if current_user.is_administrator() %}
                <p><a href="mailto:{{ user.email }}">{{ user.email }}</a></p>
            {% endif %}
            {% if user.about_me %}<p>{{ user.about_me }}</p>{% endif %}
            <p>Последнее посещение {{ moment(user.last_seen).fromNow() }}</p>
            <p>
                {% if user == current_user %}
                    <a class="btn btn-default" href="{{ url_for('.edit_profile') }}">Редактировать профиль </a>
                {% endif %}
                {% if current_user.is_administrator() %}
                    <a class="btn btn-danger" href="{{ url_for('.edit_profile_admin', id=user.id) }}">Редактировать профиль Администратора</a>
                {% endif %}
            </p>
        </div>
    </div>
{% endblock %}